body {
    background-color:  hsl(218, 23%, 16%);
}

.container {
    display: grid;

    .card {
        background-color:hsl(217, 19%, 24% );
        justify-self: center;
        align-self: center;
        border-radius: 5px;
    }
}


.attribution {
    position: absolute;
    bottom: 10px;
}